$ff: "Roboto", sans-serif;

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

$primary: #eea849;
$secondary: #f46b45;
$gray-dark: #455a64;
$dark: #313131;
$light: #ffffff;
$gray: #eceeef;

$space: 5rem;
