@use "base/variables" as v;
@use "base/mixins" as m;

.home {
  padding: 15rem 0;
  &__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  &__heading {
    span {
      color: v.$primary;
    }
  }
  &__img {
    img {
      width: 80rem;
    }
  }

  &__content {
    width: 100%;
  }
}
