@use "base/variables" as v;
@use "base/mixins" as m;

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__flex {
    @include m.grid(1, 0);
    place-items: center;
    @include m.desktop {
      @include m.grid(2, v.$space);
    }
  }
  &__heading {
    span {
      color: v.$primary;
    }
  }
  &__img {
    display: none;
    img {
      width: 80rem;
    }
    @include m.desktop {
      display: block;
    }
  }

  &__content {
    width: 100%;
  }
}
