@use "../base/variables" as v;
@use "../base/mixins" as m;


.navbar{
  background-color: #fae5c8;
  height: 60px;
  padding: .5rem calc((100vw - 1200px) / 2);
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;

 &__logo{
  padding-left: 1rem;
  width: 10rem;
 }

 &__toggle{
  @include m.desktop {
    display: none;
  }
  &--bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: v.$light;
    display: block;
    cursor: pointer;
  }
 }



 #mobile-menu{
  position: absolute;
  top: 15%;
  right: 5%;
  transform: translate(5%, 20%);
 }

 #mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
 }
 #mobile-menu.is-active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
 }
 #mobile-menu.is-active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg)
 }

 &__menu{
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
gap: 5rem;
 position: absolute;
 width: 100%;
 top: -1000px;
 
 @include m.desktop {
  top: 0;
  gap: 2rem;
  width: auto;
  flex-direction: row;
  left: 50%;
 }
  &--link{
    color: v.$dark;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    
    @include m.desktop {
      height: 60px;
      font-size: 1.8rem;
    }
  }

  &--btn{
    background-color: v.$primary;
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: v.$dark;
    font-weight: bold;
    transition: all ease 200ms;

    &:hover{
      opacity: .8;
    }
  }
 }

 &__menu.active{
  top: 100%;
  opacity: 1;
  z-index: 99;
  height: 100vh;
  background-color: #fae5c8;
  @include m.desktop {
    height: auto;
    top: auto;
  }
 }
}

 body.active {
   overflow-y: hidden;
   overflow-x: hidden;
   @include m.desktop {
   overflow-y: scroll;
   }
 }