@use "base/variables" as v;
@use "base/mixins" as m;

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  @include m.desktop {
    width: auto;
    flex-direction: row;
  }
  &__link {
    font-size: 1.8rem;
    font-weight: 700;
    color: v.$dark;

    &--login {
      @include m.button(v.$primary, v.$light);
    }
  }
}
