@use "base/variables" as v;
@use "base/mixins" as m;

.steps {
  &__wave {
    margin-bottom: -1px;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #fae5c8;

    :is(h2, h4) {
      text-align: center;
      color: v.$dark;
    }

    p{
    text-align: center;
    font-weight: bold;
    }

    h2 {
      @include m.desktop {
        font-size: 5rem;
      }
    }

    h4 {
      font-weight: bold;
      color: v.$secondary
    }
  }

  &__grid {
  @include m.grid(1, v.$space);
    place-items: center;
    @include m.tablet {
      @include m.grid(3, v.$space);
      place-items: center;
    }
  }

  &__step {
    margin: 5rem 0;
    max-width: 20rem;
  }
}
